// products page

.productsMainContent {
   section {
      padding: 75px 0;
   }

   h2 {
      text-align: center;
   }

   p {
      text-align: center;
   }

}


// flex-parent
.products {
   display: flex;
   flex-wrap: wrap;
   // because we are using the default flex-direction value (row) the main axis of alignment is the x-axis. Therefore flex-basis will represent the width property
   
   // flex-child
      li {
         flex-basis: calc((100%/3) - 20px);
         margin: 5px 10px;
      }

      img {
         border-radius: 5%;
      }
      
      .popularProduct {
         font-weight: 700;
      }

      .discountedPrice {
         text-decoration: line-through;
         color: rgba($color: $primary, $alpha: 0.5);
         span {
            display: inline-block;
            text-decoration: none;
            color: rgba($color: $primary, $alpha: 1);
         }
      }
}

// The wave SVG. Need to set a background. Will only appear when guarantee section is there. Have to base the URL on styles.css file. It's to put it on top of the section. Creating a while new element with width and above our guarentee section
.guarantees {
   background-color: $quaternary;
   position: relative;
   h2 {
      font-size: 0.8rem;
   }
   h3 {
      font-size: 0.6rem;
   }
   p {
      font-size: 0.5rem;
      line-height: 1rem;
   }
   &::before {
      content: "";
      background-image: url(../assets/wave-3.svg);
      background-color: $quaternary;
      background-position: top center;
      background-size: 1500px 60px;
      background-repeat: repeat-x;
      position: absolute;
      height: 3rem;
      left: 0;
      right: 0;
      top: -60px;
   }
   ul {
      display: flex;
      li {
         margin: 0 20px;
         width: calc(25% - 40px);
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
}
